@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.header {
  background-color: burlywood;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  list-style-type: none;
  height: 30px;
  margin-left: 20px;
}

.header .header__list a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.header p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.avatar {
  width: 310px;
  height: 310px;
  margin-left: 25px;
}

.about__me {
  display: flex;
  width: 572px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.my__info {
  padding-top: 70px;
  display: flex;
  width: 1400px;
  margin: 0 auto;
  background-color: oldlace;
}

.my__info h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

.my__info p {
  color: #86878b;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 19px;
}

.my__info h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

.language__info p {
  margin: 0;
}

.skills__info {
  width: 390px;
  height: 252px;
}

.skills__info p {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.my__skills {
  width: 40px;
  height: 40px;
}

.education {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: row;
  width: 1400px;
  margin: 0 auto;
  background-color: oldlace;
}

.education__info {
  width: 335px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education__list img {
  width: 32px;
  height: 32px;
}

.education h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

.education__list {
  display: flex;
  gap: 30px;
  list-style-type: none;
  justify-content: start;
  align-items: center;
}

.education a {
  list-style: none;
  color: #000;
  text-decoration: none;
  margin-left: 25px;
}

.code__example {
  margin: 14px auto 0;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.code__example p {
  margin: 0;
}

.code__example h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  margin: 30px auto;
}

.example {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.example__update {
  border: 1px solid #ecb5b5;
  border-radius: 6px;
  padding: 4px;
  background-color: #f8efef;
}

.example__delete {
  border: 1px solid #ecb5b5;
  border-radius: 6px;
  padding: 4px;
  background-color: #f8efef;
}

.example__sort {
  border: 1px solid #ecb5b5;
  border-radius: 6px;
  padding: 4px;
  background-color: #f8efef;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
  background-color: oldlace;
}

.projects h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 10px;
}

.projects a {
  margin: 0 0 20px 0;
}

.projects img {
  width: 85%;
  height: 100%;
}

.footer {
  display: flex;
  background-color: #f8efef;
  width: 1400px;
  height: 110px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.my__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #86878b;
  width: 365px;
  height: 33px;
  margin-top: -34px;
}

.footer h6 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #333333;
  width: 125px;
  height: 27px;
  margin-top: 14px;
}

.contacts__list img {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 684px;

  width: 32px;
  height: 32px;
}

.my__contacts h2 {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 10px;
}

.my__contacts__list {
  display: flex;
  flex-direction: row;
  width: 710px;
}

.contact__image {
  width: 32px;
  height: 32px;
}

.list__contact ul {
  width: 680px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.list__contact li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list__contact h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 10px;
}

.list__contact {
  display: flex;
  width: 752px;
  justify-content: space-between;
}

.my__list__contact li {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.my__contacts__list img {
  width: 52px;
  height: 52px;
}
